h1, h2, h3, p, div {
    font-family: "Roboto", "Arial", Times, sans-serif;
    text-align: center;
}

.center {
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 60px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #888888;
}

.layout.horizontal.top {
    justify-content: center;
}

.layout.horizontal.mid {
    padding-top: 8%;
    padding-bottom: 8%;
}

.layout.horizontal.preview {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #888888;
}

p.grey {
    color: rgb(128, 128, 128);
    margin-top: 8px;
}

p.tips {
    position: relative;
    width: 100%;
    color: rgb(150, 150, 150);
    font-size: 15px;
}

img.github {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: 100px;
}

img.title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 80%;
    max-width: 500px;
}

iron-icon.discordimg {
    width: auto;
    height: auto;
}

paper-button.discord {
    background-color: rgb(59, 136, 194);
    color: white;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 7px;
    padding-bottom: 1px;
}

paper-button.copy {
    background-color: rgb(59, 136, 194);
    float: left;
    color: white;
    padding: 5px;
}

paper-checkbox.cap {
    border: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #888888;
    align-self: center;
    padding: 6px;
    margin-left: 0px;
    margin-top: 16px;
    margin-left: 5px;
}

paper-input.flex {
    --paper-input-container-label: flex;
}
